/*mobile and tablet*/
@media (max-width:1023px) {
    .hide-on-mobile-tablet{
        display: none;
    }
    .package__container__body {
        background: var(--white-color);
        margin: 91px 0px;
        padding: 58px 90px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .testiminuials__body__container__content p {
        color: var(--white-color);
        line-height: 26px;
        margin: 10px 0px;
    }
    .container__form--name,
    .container__form--email {
        padding: 30px 0px;
        width: 100%;
    }
    .container__form--subject {
        padding: 30px 0px;
    }
}
/*tablet*/
@media (max-width:1023px) and (min-width:740px) {
    .hide-on-tablet{
        display: none;
    }
    
}
/*mobile*/
@media (max-width:730px) {
    .hide-on-mobile{
        display: none;
    }
    
    .header__nav {
        padding: 45px 0;
    }
    .header__nav-logo{
        margin: 0px 28px;
    }
    .header__slider__content h1:first-child {
        font-size: 5rem;
    }
    .header__slider__content h1:last-child {
        font-size: 6rem;
    }
    .search {
        height: 500px;
    }
    .package__container__body {
       
        padding: 0px;
        margin: 105px 0px;
        margin-left: 10px;
        margin-right: 3px;
    }
    .body--content__cta h2 {
        font-size: 2rem;
        margin-top: 40px;
    }
    .body--content__btn {
        margin-bottom: 10%;
        max-width: 170px;
    }
    .offers__container h2 {
        font-size: 2rem;
        line-height: 25px;
        margin-bottom: 40px;
    }
    .testiminuials__body h2 {
        font-size: 2.2rem;
    }
    .testiminuials__body__item {
        margin-bottom: 70px;
    }
    .search__container--item{
        margin-top: 10px;
    }
    .tour__container__content h2 {
        font-size: 1.7rem;
    }
    .offers__container,
    .testiminuials__body__items,
    .trending__container,
    .footer__container,
    .tuor__container,
    .search__container,
    .header__navbar {
        margin: 0px 10px;
    }
    .footer__container__tags__content ul,
    .footer__container__about--social ul{
        padding: 0px;
    }
    .header__slider__btn a {
        font-size: 1rem;
        padding-left: 18px;
    }
    .btn,
    .btn__bgcs  {
        width: 255%;
    }
    .body--content__btn a {
        padding-left: 25px;
    }
    .testiminuials__body__container__content p {
        line-height: 18px;
        margin: 4px 0px;
    }
    .offers__container__item--content a {
        margin-left: 10px;
    }
    .offers__item--name {
        width: 143px;
    }
    .offers__item--icon{
        display: none;
    }
    .offers__item--price span {
        margin: 20px 0px 0px 10px;
    }
    .offers__item--price h3 {
        margin: 20px 0px 15px 0px;
    }
    .header__navbar-link-icon {
        margin: 0px 2px 0px 0px;
    }
    .header__navbar-link-sđt {
        margin-right: 5px;
    }
}